.header__lang {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-width: 78px;
    margin: 0;
}

@media screen and (max-width:430px) and (min-width:320px) {
    .header__lang {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      min-width: 62px;
      margin: 0;
    }
}

