.intro__list {
    max-width: 690px;
    margin: 0;
    text-align: left;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 18px;
}

@media screen and (max-width: 770px) and (min-width: 430px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width: 430px) and (min-width: 320px) {
    .intro__list {
        max-width: 288px;
    }
}
